$bg_main: #E1E1E1;
$pricecard_bg: #F5F5F5;
$filtercard_bg: #F5F5F5;
$filtercard_bg_hover: #EBEBEB;
$link_blue: #7284E4;

$gray: #B9B9B9;
$green: #55BB06;
$dark: #707276;
$lightblue: #EAF0FA;
$blue: #5763B3;